.calendar {
  padding: 1.5rem;
  background-color: $color-background;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 1px $color-shadow;
  max-width: 670px;
  height: 100%;
  min-width: 354px;

  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    color: $color-text;
  }

  &__date-input {
    padding: 0.5rem;
    border: 1px solid $color-border-lighter;
    border-radius: 4px;
    font-size: 1rem;
  }

  &__date-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__no-slots {
    color: $color-error;
  }

  &__slots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }

  @media (max-width: 1024px) {
    &__date-container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
