.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &__sidebar {
    height: 100%;
  }

  &__main {
    flex: 1;
    padding: 2rem 3rem;
    background-color: $color-background;
    overflow: auto;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__sidebar {
      height: auto;
    }
    &__main {
      padding: 1rem;
    }
  }
}
