.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &__sidebar {
    height: 100%;
  }

  &__main {
    flex: 1;
    padding: 2rem;
    background-color: $color-background;
    overflow: auto;
  }
}
