.appointment {
  padding: 1rem;
  background-color: $color-background-lighter;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:not(&--past) {
    &:hover {
      background-color: $color-background-hover;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-weight: 500;
    color: $color-text;
  }

  &__time {
    font-size: 0.875rem;
    color: $color-text-lighter;
  }

  &__date {
    position: relative;
    top: -0.3rem;
    text-align: right;
    font-size: 0.875rem;
    color: $color-text-lighter;
  }

  &__details {
    font-size: 0.875rem;
    color: $color-text-lighter;
  }

  &__email,
  &__phone {
    margin-bottom: 0.2rem;
  }
}
