.client-page {
  &__title {
    margin: 0 0 2rem;
    font-size: 2rem;
    color: $color-text;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__form {
    min-width: 355px;
    margin: 0 auto;
  }

  @media (max-width: 1440px) {
    &__content {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 1024px) {
    &__content {
      grid-template-columns: 1fr;
    }
    &__calendar {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    &__calendar {
      max-width: initial;
      width: 100%;
    }
    &__form {
      min-width: initial;
      width: 100%;
    }
  }
}
